@import url('https://fonts.googleapis.com/css2?family=Playwrite+ID:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


/* 2. Tailwind & Third-party imports follow */
@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* 3. Theme configuration */
@theme {
--font-playwrite: "Playwrite ID", cursive;
--font-BlackOps: "Black Ops One", monospace;
}

/* Animations below... */
@keyframes TimeChangeUp {
  0% {
    transform: translateY(-35px) scale(0.7);
  }

  60% {
    transform: translateY(2px) scale(1.05);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

.animate-TimeChangeUp {
  animation: TimeChangeUp 0.5s ease-in-out;
}

@keyframes TimeChangeDown {
  0% {
    transform: translateY(30px) scale(0.7);
  }

  60% {
    transform: translateY(-2px) scale(1.05);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

.animate-TimeChangeDown {
  animation: TimeChangeDown 0.5s ease-in-out;
}